<div>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input #loginUserId matInput placeholder="Username" value="" (change)="setUserId(loginUserId.value)">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Password"></textarea>
    </mat-form-field>
    <mat-label *ngIf="userDataError" color="primary">User Does not exist in the system, please register</mat-label>
    <mat-label *ngIf="faceApiError" color="primary">Issue with recognizing face, please login with password</mat-label>
    <mat-label *ngIf="loginError" color="primary">Login With Faceid failed, please login with your credentials and update your profile with latest picture</mat-label>
</form>
</div>
<div class="example-button-row">
<button id="login" mat-raised-button color="primary">Login</button>
<button id="login" (click)="loginWithFaceId()" mat-raised-button color="primary">Login With FaceId</button>
</div>

